@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    width: 100%;
    height: auto;
    transition: .3;
    -webkit-transition: .3;
    -moz-transition: .3;
    -ms-transition: .3;
    -o-transition: .3;
}

img:hover {
    scale: 102%;

}

